{% extends 'base.html' %}

{% block title %}True Fan{% endblock title %}

{% block nav %}
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
{%endblock nav%}
{% block body %}
    <div class="jumbotron">
        <h1>TrueFan</h1>
        <p class="lead">Are you a rugby fanatic? Prove your loyalty with TrueFan</p>
        <p ><a class="btn btn-lg btn-success" id ="loginbutton" href= "{{ login_url }}">Login with twitter</a></p>
    </div>      

{% endblock body %}
