{% extends 'base.html' %}

{% block title %}User's Rugby Tweets{% endblock title %}
{% block nav %}
          <li class="active"><a href="#">Tweets</a></li>
          <li><a href="{% url 'stats' %}">Statistics</a></li>
          <li><a href="{% url 'trivia' %}">Trivia</a></li>
          <li><a href="{% url 'twitter_logout' %}">Logout</a></li>
{%endblock nav%}

{% block body %}
<h1>True Fan - User's Rugby Tweets</h1>
{% if tweets %}
	<ul>
	{% for tweet in tweets %}
		<li>{{ tweet.text }} <label class="label {% if tweet.confidence > 0.7 %}label-success{% else %}{% if tweet.confidence <= 0.7 and tweet.confidence > 0.3 %}label-warning{% else %}label-danger{% endif %}{% endif %}">Confidence: {{ tweet.confidence }}</label>&nbsp;<label class="label label-default">Matches: {{ tweet.matches }}</label></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No tweets are available for now. Check back later</p>
{% endif %}
{% endblock body %}
