{% extends 'base.html' %}

{% block title %}User's Rugby Tweets{% endblock title %}
{% block nav %}
          <li class="active"><a href="#">Tweets</a></li>
          <li><a href="/stats">Statistics</a></li>
          <li><a href="{{ login_url }}">Logout</a></li>
{%endblock nav%}

{% block body %}
<h1>True Fan - User's Rugby Tweets</h1>
{% if tweets %}
	<ul>
	{% for tweet in tweets %}
		<li> {{ tweet }} </li>
	{% endfor %}
	</ul>
{% else %}
	<p>No tweets are available for now. Check back later</p>
{% endif %}
{% endblock body %}
