{% extends 'base.html' %}

{% block title %}User Timeline{% endblock title %}
{% block nav %}
          <li class="active"><a href="#">Tweets</a></li>
          <li><a href="#">Trivia Stats</a></li>
          <li><a href="#">Twitter Stats</a></li>
          <li><a href="{{ login_url }}">Logout</a></li>
{%endblock nav%}

{% block body %}
<h1>True Fan - User's Timeline Tweets</h1>
{% if tweets %}
	<ul>
	{% for tweet in tweets %}
		<li> {{ tweet }} </li>
	{% endfor %}
	</ul>
{% else %}
	<p>No tweets are available. </p>
{% endif %}
{% endblock body %}
