<!doctype html>
<html lang="en">
<head>    
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <link href="/static/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/base.css"/>

	<title>{% block title %}TrueFan{% endblock title %}</title>

    
  {% block styles %}
                
  {% endblock styles %}
</head>
<body>
	<div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">

          {% block nav %}
          
          {%endblock nav%}

        </ul>
        <div id="logo" width="100%" height="20%">
          <img src="/static/imgs/logo.png" alt="Logo" width="15%" height="20%" />
          {% block h1 %}
          
          {%endblock h1 %}      
          
        </div>        
        <div clear="both"> </div>


      </div>
      
	  {% block body %}	
   
	  {% endblock body %}

    {% block scripts %}
         
    {% endblock scripts %}

	    <div class="footer">
	        <p>&copy; Nokia Research Center,   University of Nairobi,   GAMEON! Africa</p>
	    </div>
    </div> <!-- /container -->
</body>
</html>
