
{% extends 'base.html' %}
{% block title %}Choices{% endblock title %}
{% block body %}
    <table class="table">
    <caption>Choice Catgories</caption>
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for c in categories %}
            <tr>
                <td>{{ c.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <form action="{% url 'choice_cat_save' %}" class="form-inline" method="post">
        {% for field in cat_form %}
            {{ field.errors }}
            {{ field.label_tag }}: {{ field }}
        {% endfor %}
        <input type="submit" value="Add Category"/>
    </form>
    <table class="table">
    <caption>Choices</caption>
        <thead>
        <tr>
            <th>Content</th>
            <th>Category</th>
        </tr>
        </thead>
        <tbody>
        {% for c in choices %}
            <tr>
                <td>{{ c.content }}</td>
                <td>{{ c.category.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        <form action="{% url 'choice_save' %}" class="form-inline" method="post">
        {% for field in choice_form %}
            {{ field.errors }}
            {{ field.label_tag }}: {{ field }}
        {% endfor %}
        <input type="submit" value="Add Choice"/>
    </form>
{% endblock %}
