{% extends 'trivia/base.html' %}
{% block trivia_title %}Questions{% endblock %}
{% block trivia_body %}
    <table class="table">
        <caption>Question Levels</caption>
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for l in levels %}
            <tr>
                <td>{{ l.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <form action="{% url 'question_level_save' %}" class="form-inline" method="post">
        {% for field in level_form %}
            {{ field.errors }}
            {{ field.label_tag }}: {{ field }}
        {% endfor %}
        <input type="submit" value="Add Level"/>
    </form>
    <table class="table">
        <caption>Questions</caption>
        <thead>
        <tr>
            <th>Question</th>
            <th>Level</th>
            <th>Answer</th>
        </tr>
        </thead>
        <tbody>
        {% for q in questions %}
            <tr>
                <td>{{ q.content }}</td>
                <td>{{ q.level.name }}</td>
                <td>{{ q.correct_choice.content }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <form action="{% url 'question_save' %}" class="form-inline" method="post">
        {% for field in question_form %}
            {{ field.errors }}
            {{ field.label_tag }}: {{ field }}
        {% endfor %}
        <input type="submit" value="Add Question"/>
    </form>
{% endblock %}