{% extends 'trivia/base.html' %}
{% block trivia_title %}Play{% endblock %}
{% block trivia_body %}
    <h4>Play trivia</h4>
    {% if level %}<p>Level : {{ level }}</p>
        {% if not user.is_authenticated %}
            <p class="alert alert-info">You are not logged in. Your score will not be saved</p>
        {% endif %}
        {% if questions %}
            {% if len > 0 %}
                <form action="{% url 'score' level %}" method="post">
                    <ul style="list-style-type: decimal">
                        {% for q in questions %}
                            <li>
                                {% include 'trivia/trivia_question.html' with q=q %}
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn">Reset</button>
                    </div>
                </form>
            {% else %}
                <p>No questions available for this level</p>
            {% endif %}
            <a href="{% url 'play' %}" class="btn">Try another</a>
        {% endif %}
    {% elif levels %}
        <p>Select a level to play</p>
        <ul>{% for l in levels %}
            <li><a href="{% url 'play' %}{{ l.name }}">{{ l.name }}</a></li> {% endfor %}</ul>
    {% endif %}
{% endblock %}
