{% extends 'trivia/base.html' %}
{% block trivia_title %}Play{% endblock %}
{% block trivia_body %}
    <h4>Play trivia</h4>
    {% if level %}<p>Level : {{ level }}</p>
    {% if questions  %}
        <ul style="list-style-type: decimal">
        {% for q in questions %}
            <li>{{ q.content }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% elif levels %}
        <p>Select a level to play</p>
        {% for l in levels %}<p><a href="{% url 'play' %}{{ l.name }}">{{ l.name }}</a></p> {% endfor %}
    {% endif %}
{% endblock %}