{% extends 'trivia/base.html' %}
{% block trivia_title %}Play{% endblock %}
{% block trivia_body %}
    <h4>Play trivia</h4>
    {% if level %}<p>Level : {{ level }}</p>
        {% if questions %}
            <form action="{% url 'play' %}{{ level }}/" method="post">
                <ul style="list-style-type: decimal">
                    {% for q in questions %}
                        <li>
                            {% include 'trivia/trivia_question.html' with q=q %}
                        </li>
                    {% endfor %}
                </ul>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button type="reset" class="btn">Reset</button>
                    <a href="{% url 'play' %}" class="btn">Try another</a>
                </div>
            </form>
        {% endif %}
    {% elif levels %}
        <p>Select a level to play</p>
        <ul>{% for l in levels %}
            <li><a href="{% url 'play' %}{{ l.name }}">{{ l.name }}</a></li> {% endfor %}</ul>
    {% endif %}
{% endblock %}